.body-photos {
    --background-description-photo: rgba(54, 54, 54, 0.6);
    --background-lieu-photo: rgba(255, 255, 255, 0.6);
    --color-nav: rgb(11, 27, 61);
    --background-card: rgba(223, 245, 223, 0.9);
    --background-card-btn: rgba(164, 185, 164, 0.9);

    --brand-color: hsl(0, 0%, 0%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Lato', sans-serif;

    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.body-photos #root {
    width: 100%;
    height: 100%;
}

.photo-content-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.body-photos *,
.body-photos *::before,
.body-photos *::after {
    box-sizing: border-box;
}

.sidebar-container {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;

    height: 100%;

    background-color: var(--color-dark--1);
    background-color: var(--color-background-sidebar);

    z-index: 10;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.sidebar > h1 {
    font-size: 3rem;
    padding-block: 2rem;
}

.content-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;

    padding: 1rem;
    padding-top: 100px;
    padding-bottom: 150px;
    overflow-y: scroll;
    -webkit-mask-image: linear-gradient(to top, #0000 10%, #000, #000, #0000);
    scroll-behavior: smooth;
}

/* //////////////////////////////// */

/* Active card */

.activeCard {
    box-sizing: content-box;
    border: solid rgb(0, 0, 0) 6px;
}

/* Scrollbar */
.content-sidebar::-webkit-scrollbar {
    display: none;
    background-color: transparent;
}

.images {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
}

.rotate-img {
    transform: rotate(90deg);
}

/* MAP */

.leaflet-control-container {
    position: absolute;
    left: 30px;
    top: 60px;
}

.leaflet-control-container span {
    color: black;
    transition-duration: 100ms;
}

.leaflet-control-zoom-in:hover span,
.leaflet-control-zoom-out:hover span {
    font-size: 115%;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    z-index: 0;
    flex-grow: 1;
}

.leaflet-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
}

.leaflet-popup {
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.leaflet-popup,
.leaflet-popup .leaflet-popup-content-wrapper {
    border-radius: 5px;
    border: none;
}

.leaflet-popup .leaflet-popup-content-wrapper,
.leaflet-popup .leaflet-popup-tip {
    background-color: var(--background-card);
    border: none;
}

.leaflet-popup-close-button > span {
    display: flex;
    justify-content: center;
    background: rgb(107, 129, 107);
    border-radius: 100%;
    line-height: 40%;
    width: fit-content;
    margin: auto;
    margin-top: 4px;
    padding: 4px;
    border: 1px solid rgb(107, 129, 107);
    box-sizing: border-box;
    transition-duration: 300ms;
}

.leaflet-popup-close-button:hover > span {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    background: rgba(146, 165, 146, 0.9);
}
