.choix-reponse-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 2rem;
}

@media screen and (max-width: 750px) {
    .choix-reponse-container {
        grid-template-columns: auto;
    }
}
