:root {
    --color-pillar-1: rgb(240, 230, 140);
    --color-pillar-2: rgb(160, 82, 45);
    --color-pillar-3: rgb(255, 165, 0);
    --color-pillar-4: rgb(210, 105, 30);
    --color-pillar-5: rgb(160, 82, 45);
    --color-pillar-5: rgb(22, 22, 22);

    --color-background-info: rgba(29, 29, 29, 0.8);
    --color-footer-infos: rgb(37, 37, 37);

    --color-scrollbar: linear-gradient(to top, #a88c0d, #409c1c);
    --color-scrollbar-track: linear-gradient(
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1) 100%
    );

    --color-background-etude: linear-gradient(
        45deg,
        rgb(160, 82, 45),
        rgb(255, 165, 0)
    );

    --color-langage-prog: rgb(210, 105, 30);
    --color-border-info: rgb(255, 165, 0);
}

body {
    /* overflow-y: hidden; */
    font-size: 1.6rem;
}

body > canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    filter: blur(2px);
    scale: 1.1;
    overflow: hidden;
}

/* General conatiner */
.container-infos {
    display: grid;
    margin: 5rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 5rem;
    padding: 10px;
    height: 75rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 600px) {
    .container-infos {
        grid-template-columns: 1fr;
    }
}

.infos-section {
    position: relative;
    background-color: var(--color-background-info);
    z-index: 10;
    height: fit-content;
    transition: scale ease-out 150ms;

    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(
            to bottom,
            var(--color-border-info),
            rgba(0, 0, 0, 0)
        )
        1 100%;
}

.infos-section:hover {
    scale: 1.05;
}

/* Scrollbar */
.container-infos::-webkit-scrollbar {
    background-color: transparent;
}

.container-infos::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);

    border-radius: 10px;
}

.container-infos::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);

    border-radius: 100px;
}

/* Section resume */
#resume > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

#arrow {
    height: 10rem;
    transform: rotate(30deg);
}

#resume > div > img {
    height: 10rem;
    border-radius: 100%;
    aspect-ratio: 1;
}

/* Section formation */
.formation-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.etude {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    z-index: 5;
}

.etude::after {
    content: '';
    background-image: var(--color-background-etude);
    position: absolute;
    margin: auto;
    z-index: -1;
    inset: 0;
    transform: skew(-5deg);
    width: 95%;
}

/* Section competences */
.competences {
}

.langage,
.outil,
.concept {
    background-color: var(--color-langage-prog);
    border-radius: 15px;
    transition: scale ease-out 150ms;
    z-index: 1;
}

.langage:hover,
.outil:hover,
.concept:hover {
    scale: 1.05;
}

.block {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    padding-inline: 5px;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-block: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.langage {
    display: flex;
    width: 100%;
    justify-content: center;
}

.langages {
    position: relative;
    isolation: isolate;
}

.block::after {
    content: '';
    background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 50%,
        #3d2d00 50%,
        #ffc559 100%
    );
    transform-origin: top;
    position: absolute;
    z-index: 0;
    inset: 0;
    overflow: hidden;
}

.concepts-autres {
}

.concept {
}

/* Section langues parlees */
.langue {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.cercles-langues {
    display: flex;
    overflow: hidden;
}

.cercles-langues > img,
.cercles-langues > div > img {
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
}

#demi-cercle {
    width: 15px;
}

/* Section contact */

/* Section CV PDF */
#visionner-cv {
}

#telecharger-cv {
}

#pdf-cv {
    display: flex;
    position: absolute;
    width: 100vh;
    height: 100vw;
    z-index: 100;
}

/* Section videos */
.infos-section:has(.section-loisir) {
    display: grid;
    flex-direction: column;
}

.section-loisir {
    display: grid;
}

.section-loisir > p {
    grid-area: b;
}

#footer-infos {
    background-color: var(--color-footer-infos);
}
