@import 'general.css';

body {
    position: relative;
    font-weight: 300;
    color: var(--color-font);
    line-height: 1.9;
    overflow-x: hidden;
    background-color: var(--color-header);
    z-index: -1;
}

/* .hidden {
    display: none;
    opacity: 0;
} */

a {
    color: var(--color-font);
}

.ball {
    position: relative;
    width: 25px;
    height: 25px;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid var(--color-nav);
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    transform-origin: 50% 50%;
    animation: ball 4s infinite ease-in-out;
}

@keyframes ball {
    from {
        border-radius: 50% 80% 80% 80%/50% 80% 80% 80%;
    }

    25% {
        border-radius: 80% 50% 80% 80%/80% 50% 80% 80%;
    }

    50% {
        border-radius: 80% 80% 50% 80%/80% 80% 50% 80%;
    }

    75% {
        border-radius: 80% 80% 80% 50%/80% 80% 80% 50%;
    }

    to {
        border-radius: 50% 80% 80% 80%/50% 80% 80% 80%;
    }
}

/* Header welcome message */

.container {
    background: radial-gradient(
        var(--color-header-middle) 10%,
        var(--color-header) 70%
    );
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100rem;
    width: 100%;
    box-shadow: 0% 0% 0% 100% var(--color-section-1) inset;
    background-color: var(--color-header);
    padding-bottom: 5%;
}

.container-welcome {
    position: relative;
    display: flex;
}

.text-block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    max-height: 60vh;
    overflow: hidden;
}

.welcome-message {
    color: var(--color-white);
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    font-size: 5rem;
    line-height: 2;
}

.welcome-description {
    color: var(--color-white);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2.4rem;
    line-height: 1.5;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}

.welcome-description > a {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .welcome-message {
        font-size: 3rem;
    }
}

@media screen and (max-width: 800px) {
    .welcome-description {
        font-size: 1.6rem;
    }
}

.blob {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
    width: 80rem;
}

.blob > img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    animation: move 10s ease-in-out infinite;
}

@keyframes move {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    25% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    50% {
        border-radius: 60% 40% 30% 70%/60% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.blob-page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    filter: blur(40px);
}

.shape-blob {
    background: #26c3f9;
    height: 6rem;
    width: 8rem;
    border-radius: 40% 50% 30% 40%;
    animation: transform 18s ease-in-out infinite both alternate,
        movement_two 12s ease-in-out infinite both;
    opacity: 0.7;
    position: absolute;
    left: 75%;
    top: 60%;
}
.shape-blob.one {
    background: #0085ff;
    height: 15rem;
    width: 20rem;
    left: 1rem;
    top: 10rem;
    animation: transform 8s ease-in-out infinite both alternate,
        movement_two 20s ease-in-out infinite both;
}

.shape-blob.six {
    background: #0eafff;
    height: 7rem;
    width: 10rem;
    left: 16rem;
    top: 30rem;
    transform: rotate(-180deg);
    animation: transform 5s ease-in-out infinite both alternate,
        movement_two 5s ease-in-out infinite both;
}

.shape-blob.four {
    background: #4eaeff;
    height: 10rem;
    width: 8rem;
    left: 35rem;
    top: 16rem;
    transform: rotate(-180deg);
    animation: transform 17s ease-in-out infinite both alternate,
        movement_two 13s ease-in-out infinite both;
}

.shape-blob.five {
    background: #0085ff;
    height: 10rem;
    width: 8rem;
    right: 2rem;
    top: 13rem;
    transform: rotate(-180deg);
    animation: transform 12s ease-in-out infinite both alternate,
        movement_two 18s ease-in-out infinite both;
}

.shape-blob.two {
    background: #4eaeff;
    height: 15rem;
    width: 15rem;
    right: 6rem;
    top: 25rem;
    transform: rotate(-180deg);
    animation: transform 10s ease-in-out infinite both alternate,
        movement_two 10s ease-in-out infinite both;
}

.shape-blob.three {
    background: #0eafff;
    height: 15rem;
    width: 15rem;
    right: 8rem;
    top: 13rem;
    transform: rotate(-180deg);
    animation: transform 7s ease-in-out infinite both alternate,
        movement_two 23s ease-in-out infinite both;
}

.shape-blob.seven {
    background: #4eaeff;
    height: 15rem;
    width: 15rem;
    left: 6rem;
    top: 45rem;
    transform: rotate(-180deg);
    animation: transform 14s ease-in-out infinite both alternate,
        movement_two 8s ease-in-out infinite both;
}

.shape-blob.eight {
    background: #4eaeff;
    height: 15rem;
    width: 15rem;
    left: 10rem;
    top: 45rem;
    transform: rotate(-180deg);
    animation: transform 14s ease-in-out infinite both alternate,
        movement_one 17s ease-in-out infinite both;
}

.shape-blob.nine {
    background: #4eaeff;
    height: 15rem;
    width: 15rem;
    left: 10rem;
    top: 45rem;
    transform: rotate(-180deg);
    animation: transform 14s ease-in-out infinite both alternate,
        movement_one 22s ease-in-out infinite both;
}

.shape-blob.ten {
    background: #4eaeff;
    height: 15rem;
    width: 15rem;
    right: 7rem;
    top: 50rem;
    transform: rotate(-180deg);
    animation: transform 14s ease-in-out infinite both alternate,
        movement_one 18s ease-in-out infinite both;
}

@keyframes transform {
    0%,
    100% {
        border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%;
    }
    20% {
        border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%;
        transform: translateY(20rem);
    }
    40% {
        border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%;
        transform: translateY(-10rem);
    }
    60% {
        border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%;
        transform: translateY(10rem);
    }
    80% {
        border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%;
    }
}

@keyframes movement_one {
    0%,
    500% {
        transform: none;
    }
    50% {
        transform: translate(0%, 100rem) rotate(-200deg) scale(1.3);
    }
}

@keyframes movement_two {
    0%,
    500% {
        transform: none;
    }
    50% {
        transform: translate(50%, 20%) rotate(-200deg) scale(1.3);
    }
}

/* .blob {
    position: relative;
    top: 10%;
    left: 25%;

    border: inset black 10px;
    width: 60vmax;
    z-index: 0;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
    overflow: hidden;
}

@keyframes move {
    0% {
        transform: scale(1) translate(10px, -30px); 
    }
    38% {
        transform: scale(1.2, 1) rotate(160deg);
    }
    40% {
        transform: scale(1.2, 1) rotate(160deg);
    }
    78% {
        transform: scale(0.9) rotate(-20deg);
    }
    80% {
        transform: scale(0.9) rotate(-20deg);
    }
    100% {
        transform: scale(1);
    }
}  */

/* Sections (general) */

.section {
    padding: var(--padding-section) 3rem;
    position: relative;
    min-height: 100vh;
    transition: all 500ms;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

h2 {
    font-size: 4rem;
}

.layer1,
.layer2 {
    opacity: 0;
    animation: 500ms;
    transform: 500ms;
}

.anim-slide-1 {
    animation: sliding 2s;
    opacity: 0.5;
    filter: blur(5px);
}

@keyframes sliding {
    0% {
        transform: translateY(-20rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

.img-section {
    width: 40%;
    height: 100%;
    float: left;
}

/* Section 1 */

#section1 {
    background: radial-gradient(
        var(--color-section-1-middle) 10%,
        var(--color-section-1) 70%
    );
}

#section1 > .contenu > .section-description {
    min-width: 50%;
}

#questionnement {
    border-radius: 100%;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    animation: turning infinite 5s;
    flex-grow: 1;
}

@keyframes turning {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    25% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    50% {
        border-radius: 60% 40% 30% 70%/60% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.contenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 100%;
    flex: 1 1 auto;
}

.section-description {
    display: flex;
    flex-direction: column;
    float: left;
}

/* Section 2 */

#section2 {
    position: relative;
    background: radial-gradient(
        var(--color-section-2-middle) 10%,
        var(--color-section-2) 70%
    );
}

#section2 > .contenu {
    padding-inline: 2rem;
    gap: 1rem;
}

@media screen and (max-width: 920px) {
    #section2 > .contenu {
        flex-direction: column;
    }
}

.imgs-preview {
    display: grid;
    max-width: 70%;
    max-height: 100%;
    gap: 20px;
}

.img-line-preview {
    display: inline-flex;
    justify-content: center;
    gap: 20px;
}

.img-preview-menu {
    max-width: 40%;
    border-radius: 10%;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: 300ms ease-in-out;
}

.img-preview-menu:hover {
    scale: 1.1;
}

/* Section 3 */

#section3 {
    background: radial-gradient(
        var(--color-section-3-middle) 10%,
        var(--color-section-3) 70%
    );
}

#section3 > .contenu > .section-description {
    max-width: 20rem;
}

#earth-svg {
    position: relative;
    z-index: 3;
    pointer-events: none;
    text-align: center;
}

#earth-div {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 100%;
}

/* Section 4 */

#section4 {
    background: radial-gradient(
        var(--color-header-middle) 10%,
        var(--color-header) 70%
    );

    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.section4-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-inline: 10rem;
}

.section4-content > img {
    object-fit: cover;
    max-width: 40%;
    aspect-ratio: 1;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
}

@media screen and (max-width: 920px) {
    .section4-content {
        margin-inline: 0;
    }
    .section4-content > img {
        display: none;
    }
}

.contact-container {
    position: relative;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    width: 90%;
    color: rgb(255, 255, 255);
    z-index: 100;
}

.contact-container > h1 {
    font-size: 3rem;
}

.form-contact-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font: black;
    gap: 10px;
}

.form-contact-container > label {
    text-align: right;
    padding-right: 20px;
}

input[type='text'],
#description {
    display: flex;
    width: 100%;
    padding: 12px;
    color: black;
    text-align: start;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    resize: none;
}

button[type='submit'] {
    font: var(--color-black);
    background-color: var(--color-section-3);
    color: rgb(255, 255, 255);
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

button[type='submit']:hover {
    transform: translateY(10px);
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

.submit-email:hover {
    background-color: var(--color-section-3-middle);
}

.envoi-email {
    height: 100px;
    z-index: 10;
}

.revenirTop {
    position: relative;
    display: flex;
    background-color: var(--color-section-3);
    height: 5rem;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 15px;
    align-items: center;
    border: none;
    gap: 5px;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: pointer;
}

.revenirTop > div > img {
    height: 100%;
    aspect-ratio: 1;
    filter: invert(100%);
}

.toTopFull {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.revenirTop > div {
    position: relative;
    height: 100%;
}

.revenirTop:hover {
    background-color: var(--color-section-3-middle);
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

.revenirTop:hover > div > .toTopFull {
    opacity: 1;
}

/* Waves */

.section-top {
    position: absolute;
    bottom: 0%;
    z-index: 50;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    translate: 0px 109px;
}

.section-top svg {
    width: calc(111% + 1.3px);
    height: 110px;
    z-index: 5;
}

.section-top > svg > :first-child,
.section-bottom > svg > :first-child {
    transition-delay: 300ms;
}

.section-bottom {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 50;
    rotate: 180deg;
    translate: 0px -109px;
}

.section-bottom svg {
    width: calc(111% + 1.3px);
    height: 110px;
    z-index: 5;
}

.shape {
    transition-duration: 700ms;
}

.section--hidden {
    opacity: 0.5;
    transform: translateY(-15rem);
    filter: blur(5px);
}

/* header bottom color*/
.header-bottom-wave .shape-fill-1 {
    fill: var(--color-section-1);
}

/* section 2 top color*/
.section-2-wave .shape-fill-2 {
    fill: var(--color-section-1);
}

/* section 2 bottom color*/
.section-2-wave .shape-fill-3 {
    fill: var(--color-section-3);
}

/* section 4 top color*/
.shape-fill-3 {
    fill: var(--color-section-3);
}

/* section 4 bottom color*/
.section-4-wave .shape-fill-4 {
    fill: var(--color-footer);
}
