@import 'general.css';

:root {
    --background-description-photo: rgba(54, 54, 54, 0.6);
    --background-lieu-photo: rgba(255, 255, 255, 0.6);
    --color-nav: rgb(11, 27, 61);
}

#root {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

:root {
    --brand-color: hsl(0, 0%, 0%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Lato', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.body-photos {
    overflow: hidden;
    height: 100vh;
}

.sidebar-container {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;

    /* visibility: hidden; */

    height: 100%;

    background-color: var(--color-dark--1);
    background-color: var(--color-background-sidebar);

    z-index: 10;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.sidebar > h1 {
    font-size: 3rem;
    padding-block: 2rem;
}

.content-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;

    padding: 1rem;
    padding-top: 100px;
    padding-bottom: 700px;
    overflow-y: scroll;
    -webkit-mask-image: linear-gradient(to top, #0000 10%, #000, #000, #0000);
    scroll-behavior: smooth;
}

.sidebar-pays-title {
    font-size: 2.5rem;
}

/* //////////////////////////////////////////////////// */

/* CARDS */

.flow > * + * {
    /* margin-top: var(--flow-space, 1em); */
}

.img-description-container {
    /* --flow-space: 0.9375rem; */
    /* --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 55%;
    padding: 12% 1.25rem 1.875rem;
    background: linear-gradient(
        180deg,
        hsla(0, 0%, 0%, 0) 0%,
        hsla(0, 0%, 0%, 0.3) 10%,
        hsl(0, 0%, 0%) 100%
    ); */
    width: 100%;
    z-index: 100;
}

.photo-container {
    position: relative;
    margin: 1rem;
    height: 150px;
    border-radius: 10rem;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition-duration: 300ms;
}

.img-preview {
    border-radius: 10rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-description {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    z-index: 100;
    width: 100%;

    --flow-space: 1.25rem;

    top: 50%;
    left: 10%;
    translate: 0% -50%;

    display: grid;
    grid-template-columns: auto 1fr;
    transition: transform 300ms ease-in;
}

.img-lieu {
    font-size: 2rem;
    gap: 1rem;
    z-index: 1000;
    position: relative;
    width: fit-content;

    width: -moz-fit-content;
    color: rgb(24, 24, 24);
    font-weight: 500;
}

.img-lieu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 120px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 100rem 100rem 100rem 100rem;
    box-sizing: content-box;
    border-right: transparent solid 1.25rem;
    z-index: -10;
    background-color: var(--background-lieu-photo);
}

.img-lieu::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 120px;
    top: 50%;
    translate: -50% -50%;
    bottom: calc((1.25rem - 0.5rem) * -1);
    right: -1.25rem;
    background-color: var(--brand-color);
    z-index: 100;
}

.card__description {
    position: relative;
    z-index: 100;
    text-align: left;
    padding-left: 5rem;
    font-weight: 500;
    width: 100%;

    font-size: 1.6rem;
}

.card__description::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 120px;
    top: 50%;
    left: 50%;
    translate: -48% -50%;
    border-radius: 0 100rem 100rem 0;
    z-index: -10;
    background-color: var(--background-description-photo);
}

.icon-photo {
    height: 15px;
    width: 15px;
    margin-right: 8px;
}

@media (any-hover: hover) and (any-pointer: fine) {
    .img-description-container {
        transition: transform 300ms ease-out;
        transition-delay: 300ms;
    }

    .img-lieu::before {
        transition: border-radius 300ms;
        transition-delay: 300ms;
        transform-origin: right;
    }

    .img-lieu::after {
        opacity: 0;
        transition: opacity 300ms ease-in, transform 300ms ease-out;
        transition-delay: 300ms;
        transform-origin: right;
        transform: translateX(10rem);
    }

    .img-preview {
        transition: transform 300ms ease-in;
    }

    .img-description > :not(.img-lieu) {
        opacity: 0;
        transition: transform 300ms ease-out, opacity 300ms ease-out;
    }

    .photo-container:hover,
    .photo-container:focus-within {
        transform: scale(1.02);
        transition: transform 300ms ease-in;
    }

    .photo-container:hover .img-description-container,
    .photo-container:focus-within .img-description-container {
        transition: transform 300ms ease-in;
    }

    .photo-container:hover .img-description,
    .photo-container:focus-within .img-description {
        transition: transform 300ms ease-in;
        transform: translate(-10%);
    }

    .photo-container:focus-within .img-description-container {
        transition-duration: 0ms;
    }

    .photo-container:hover .img-description > :not(.img-lieu),
    .photo-container:focus-within .img-description > :not(.img-lieu) {
        opacity: 1;
        transition: opacity 300ms ease-in;
        transition-delay: 700ms;
    }

    .photo-container:hover .img-lieu::before,
    .photo-container:focus-within .img-lieu::before {
        border-radius: 100rem 0 0 100rem;
    }

    .photo-container:hover .img-lieu::after,
    .photo-container:focus-within .img-lieu::after {
        opacity: 1;
        transform-origin: left;
        transition: opacity 300ms ease-in, transform 300ms ease-in;
        transition-delay: 300ms;
        transform: translate(0);
    }
}

/* //////////////////////////////// */

/* Active card */

.activeCard {
    box-sizing: content-box;
    border: solid rgb(0, 0, 0) 6px;
}

/* Scrollbar */
.content-sidebar::-webkit-scrollbar {
    display: none;
    background-color: transparent;
}

.content-sidebar::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);

    border-radius: 10px;
}

.content-sidebar::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);

    border-radius: 100px;
}

.images {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
}

/* MAP */

.leaflet-control-container {
    display: none;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    z-index: 0;

    scale: 1.1;
}

.img-map {
    width: 300px;
    height: auto;
}

.arrows-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);

    border: 3px solid rgb(0, 0, 0);
    border-radius: 100%;
    height: 50px;
    width: 50px;

    cursor: pointer;
}

.arrows-left {
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%) rotate(180deg);
    translate: 5px;
}

.arrows-right {
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    translate: 5px;
}

.first-arrow {
    translate: 5px;
}

.second-arrow {
    translate: -5px;
}

.arrow > img {
    width: 100%;
    aspect-ratio: 1;
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }
    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }
    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.arrows-wrapper:hover .arrow {
    animation: bounceAlpha 1.4s infinite linear;
}
.arrows-wrapper:hover .first-arrow {
    animation: bounceAlpha 1.4s infinite linear;
    animation-delay: 0.2s;
}

/* Popup width is defined in JS using options */
/* .leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--1);
}
 */
/* {
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    }  */
