:root {
    --color-background-sidebar: rgb(59, 58, 58);
}

#root {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.body-photos {
    overflow: hidden;
    height: 100vh;
}

.sidebar-container {
    display: flex;
}

.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-basis: 50rem;

    /* visibility: hidden; */

    width: 600px;
    height: 80%;

    background-color: var(--color-dark--1);
    background-color: var(--color-background-sidebar);

    z-index: 10;
    margin: 1rem;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.content-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: scroll;
}

.photo-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    margin: 1rem;
    height: 120px;
    background: rgb(71, 71, 71);
    border-radius: 100px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.img-preview {
    height: 100px;
    position: relative;
    object-fit: contain;
    border-radius: 100px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    justify-self: center;
}

.img-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1rem;
}

.img-lieu {
    font-size: 2rem;
    gap: 1rem;
}

.icon-photo {
    height: 15px;
    width: 15px;
    margin-right: 8px;
}

/* Scrollbar */
.content-sidebar::-webkit-scrollbar {
    display: none;
    background-color: transparent;
}

.content-sidebar::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);

    border-radius: 10px;
}

.content-sidebar::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);

    border-radius: 100px;
}

/* //////////////////////////////// */

.images {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
}

/* MAP */

.leaflet-control-container {
    display: none;
}

.leaflet-container {
    height: 100rem;
    z-index: 0;
}

.img-map {
    width: 300px;
    height: auto;
}

/* Popup width is defined in JS using options */
/* .leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--1);
}
 */
/* {
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    }  */
