/* General */

:root {
    --color-green-dark: rgb(6, 70, 53);
    --color-green: rgb(81, 146, 89);
    --color-orange-light: rgb(240, 187, 98);
    --color-yellow-light: rgb(244, 238, 169);

    color: rgb(20, 40, 80);
    color: rgb(39, 73, 109);
    color: rgb(12, 123, 147);
    color: rgb(0, 168, 204);

    --color-white: #ffffff;
    --color-black: #000000;
    --color-orange-1: #f27500;
    --color-grey-dark: #42484d;
    --color-grey-light: #aaa;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);

    --color-section-1: rgb(12, 123, 147);
    --color-section-1-middle: rgb(21, 191, 230);

    --color-section-2: rgb(11, 21, 44);
    --color-section-2-middle: rgb(20, 40, 80);

    --color-section-3: rgb(39, 73, 109);
    --color-section-3-middle: rgb(56, 105, 156);

    --color-section-4: rgb(0, 114, 139);
    --color-section-4-middle: rgb(0, 168, 204);

    --color-header: rgb(11, 21, 44);
    --color-header-middle: rgb(20, 40, 80);

    --color-nav: rgb(11, 27, 61);
    --color-nav-btn-border: rgb(91, 143, 185);
    --color-blob: blue;

    --color-background: rgb(3, 0, 28);
    --color-nav-btn: #ffffff;
    --color-nav-btn-active: #ffffff;
    --color-font: white;
    --color-font-footer: #aaa;
    --color-footer: #42484d;

    --padding-section: 20rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--color-font);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    color: var(--color-font);
    line-height: 1.9;
    overflow-x: hidden;
    background-color: var(--color-header);
    z-index: -1;
}

/* .hidden {
    display: none;
    opacity: 0;
} */

a {
    color: var(--color-font);
}

.ball {
    position: relative;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    border: 3px solid dodgerblue;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10;
    transform-origin: 50% 50%;
}

/* Navigation */

nav {
    display: flex;
    width: 100%;
    gap: 1rem;
    background-color: var(--color-nav);
    padding: 1rem;
    border-bottom: 0.1rem solid black;
    z-index: 10;
}

.logo {
    display: flex;
    float: left;
    justify-content: left;
    width: 15rem;
    height: 9rem;
    background-color: rgb(255, 255, 255);
    border: 0.2rem outset var(--color-nav-btn-border);
    border-radius: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    white-space: nowrap;
}

.nav-item {
    position: relative;
    color: black;

    border: 0.2rem outset var(--color-nav-btn-border);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-nav-btn);
    text-decoration: none;
    font-size: 1.5rem;

    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    z-index: 10;
}

.nav-item:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(97, 97, 97, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #505050;
}

.nav-item:hover,
.nav-item:active {
    background-color: var(--color-nav-btn-active);
    border-style: inset;
}

/* Header welcome message */

.container {
    background: radial-gradient(
        var(--color-header-middle) 10%,
        var(--color-header) 70%
    );
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100rem;
    width: 100%;
    box-shadow: 0% 0% 0% 100% var(--color-section-1) inset;
    background-color: var(--color-header);
    padding-bottom: 5%;
}

.container-welcome {
    position: relative;
    display: flex;
}

.text-block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 1.5rem;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    max-height: 60vh;
    overflow: hidden;
}

.welcome-message {
    color: var(--color-white);
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
    font-size: 3em;
    line-height: 2;
}

.welcome-description {
    color: var(--color-white);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.6em;
    line-height: 1.5;
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
}

.welcome-description > a {
    text-decoration: underline;
    cursor: pointer;
}

.blob {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
    width: 80rem;
}

.blob > img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    animation: move 10s ease-in-out infinite;
}

@keyframes move {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    25% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    50% {
        border-radius: 60% 40% 30% 70%/60% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.blob-page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    filter: blur(40px);
}

.shape-blob {
    background: #26c3f9;
    height: 6rem;
    width: 8rem;
    border-radius: 40% 50% 30% 40%;
    animation: transform 18s ease-in-out infinite both alternate,
        movement_two 12s ease-in-out infinite both;
    opacity: 0.7;
    position: absolute;
    left: 75%;
    top: 60%;
}
.shape-blob.one {
    background: #0085ff;
    height: 15rem;
    width: 20rem;
    left: 1rem;
    top: 10rem;
    animation: transform 8s ease-in-out infinite both alternate,
        movement_two 20s ease-in-out infinite both;
}

.shape-blob.six {
    background: #0eafff;
    height: 7rem;
    width: 10rem;
    left: 16rem;
    top: 30rem;
    transform: rotate(-180deg);
    animation: transform 5s ease-in-out infinite both alternate,
        movement_two 5s ease-in-out infinite both;
}

.shape-blob.four {
    background: #4eaeff;
    height: 10rem;
    width: 8rem;
    left: 35rem;
    top: 16rem;
    transform: rotate(-180deg);
    animation: transform 17s ease-in-out infinite both alternate,
        movement_two 13s ease-in-out infinite both;
}

.shape-blob.five {
    background: #0085ff;
    height: 10rem;
    width: 8rem;
    right: 2rem;
    top: 13rem;
    transform: rotate(-180deg);
    animation: transform 12s ease-in-out infinite both alternate,
        movement_two 18s ease-in-out infinite both;
}

.shape-blob.two {
    background: #4eaeff;
    height: 15rem;
    width: 15rem;
    right: 6rem;
    top: 25rem;
    transform: rotate(-180deg);
    animation: transform 10s ease-in-out infinite both alternate,
        movement_two 10s ease-in-out infinite both;
}

.shape-blob.three {
    background: #0eafff;
    height: 15rem;
    width: 15rem;
    right: 8rem;
    top: 13rem;
    transform: rotate(-180deg);
    animation: transform 7s ease-in-out infinite both alternate,
        movement_two 23s ease-in-out infinite both;
}

.shape-blob.seven {
    background: #4eaeff;
    height: 15rem;
    width: 15rem;
    left: 6rem;
    top: 45rem;
    transform: rotate(-180deg);
    animation: transform 14s ease-in-out infinite both alternate,
        movement_two 8s ease-in-out infinite both;
}

.shape-blob.eight {
    background: #4eaeff;
    height: 15rem;
    width: 15rem;
    left: 10rem;
    top: 45rem;
    transform: rotate(-180deg);
    animation: transform 14s ease-in-out infinite both alternate,
        movement_one 17s ease-in-out infinite both;
}

.shape-blob.nine {
    background: #4eaeff;
    height: 15rem;
    width: 15rem;
    left: 10rem;
    top: 45rem;
    transform: rotate(-180deg);
    animation: transform 14s ease-in-out infinite both alternate,
        movement_one 22s ease-in-out infinite both;
}

.shape-blob.ten {
    background: #4eaeff;
    height: 15rem;
    width: 15rem;
    right: 7rem;
    top: 50rem;
    transform: rotate(-180deg);
    animation: transform 14s ease-in-out infinite both alternate,
        movement_one 18s ease-in-out infinite both;
}

@keyframes transform {
    0%,
    100% {
        border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%;
    }
    20% {
        border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%;
        transform: translateY(20rem);
    }
    40% {
        border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%;
        transform: translateY(-10rem);
    }
    60% {
        border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%;
        transform: translateY(10rem);
    }
    80% {
        border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%;
    }
}

@keyframes movement_one {
    0%,
    500% {
        transform: none;
    }
    50% {
        transform: translate(0%, 100rem) rotate(-200deg) scale(1.3);
    }
}

@keyframes movement_two {
    0%,
    500% {
        transform: none;
    }
    50% {
        transform: translate(50%, 20%) rotate(-200deg) scale(1.3);
    }
}

/* .blob {
    position: relative;
    top: 10%;
    left: 25%;

    border: inset black 10px;
    width: 60vmax;
    z-index: 0;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
    overflow: hidden;
}

@keyframes move {
    0% {
        transform: scale(1) translate(10px, -30px); 
    }
    38% {
        transform: scale(1.2, 1) rotate(160deg);
    }
    40% {
        transform: scale(1.2, 1) rotate(160deg);
    }
    78% {
        transform: scale(0.9) rotate(-20deg);
    }
    80% {
        transform: scale(0.9) rotate(-20deg);
    }
    100% {
        transform: scale(1);
    }
}  */

/* Sections (general) */

.section {
    padding: var(--padding-section) 3rem;
    position: relative;
    min-height: 100vh;
    transition: all 500ms;
}

.section--hidden-down {
    opacity: 0.5;
    transform: translateY(15rem);
    filter: blur(5px);
}

.layer1,
.layer2 {
    opacity: 0;
    animation: 500ms;
    transform: 500ms;
}

.anim-slide-1 {
    animation: sliding 2s;
    opacity: 0.5;
    filter: blur(5px);
}

.anim-slide-2 {
    animation: sliding 1s;
    opacity: 0.9;
    filter: blur(2px);
}

.anim-slide-3 {
    animation: slidingUp 2s;
    opacity: 0.5;
    filter: blur(5px);
}

.anim-slide-4 {
    animation: slidingUp 1s;
    opacity: 0.9;
    filter: blur(2px);
}

@keyframes sliding {
    0% {
        transform: translateY(-20rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@keyframes slidingUp {
    0% {
        transform: translateY(20rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

.section--hidden-up {
    opacity: 0.5;
    transform: translateY(-15rem);
    filter: blur(5px);
}

.img-section {
    width: 40%;
    height: 100%;
    float: left;
}

/* Section 1 */

#section1 {
    background: radial-gradient(
        var(--color-section-1-middle) 10%,
        var(--color-section-1) 70%
    );
}

#questionnement {
    border-radius: 10%;
}

.contenu {
    position: relative;
    display: flex;
    font-size: 1.6em;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.section-description {
    display: flex;
    flex-direction: column;
    float: left;
}

/* Section 2 */

#section2 {
    position: relative;
    background: radial-gradient(
        var(--color-section-2-middle) 10%,
        var(--color-section-2) 70%
    );
    z-index: -1;
}

.imgs-preview {
    display: flex;
    display: grid;
    max-width: 70%;
    max-height: 100%;
}

.img-line-preview {
    display: inline-flex;
}

.img-preview-menu {
    max-width: 40%;
    border-radius: 10%;
    padding: 1% 1% 1% 1%;
}

/* Section 3 */

#section3 {
    background: radial-gradient(
        var(--color-section-3-middle) 10%,
        var(--color-section-3) 70%
    );
}

#earth-svg {
    position: relative;
    width: 70%;
    z-index: 3;
    pointer-events: none;
    text-align: center;
}

#earth-div {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

/* Section 4 */

#section4 {
    background: radial-gradient(
        var(--color-header-middle) 10%,
        var(--color-header) 70%
    );
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.section4-content {
    font-size: 2rem;

    display: flex;
    flex-direction: row;
    flex: 1;
}

.section4-content > img {
    object-fit: cover;
    max-width: 50%;
    aspect-ratio: 1;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    #section4 > img {
        display: none;
    }
}

.contact-container {
    position: relative;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    width: 90%;
    color: rgb(255, 255, 255);
    z-index: 100;
}

.contact-container > h1 {
    font-size: 3rem;
}

.name-email-comp {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font: black;
    gap: 10px;
}

.name-email-comp > label {
    text-align: right;
    padding-right: 20px;
}

.description {
    margin: 5px;
}

.description > input {
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

input[type='text'] {
    display: flex;
    width: 100%;
    padding: 12px;
    color: black;
    text-align: start;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type='submit'] {
    font: var(--color-black);
    background-color: var(--color-section-1-middle);
    color: rgb(0, 0, 0);
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

.submit-email:hover {
    background-color: var(--color-section-1);
}

.envoi-email {
    background-color: red;
    height: 100px;
    z-index: 10;
}

.revenirTop {
    position: relative;
    display: flex;
    background-color: var(--color-section-1);
    width: fit-content;
    padding-inline: 10px;
    border-radius: 15px;
}

.revenirTop:hover {
    background-color: var(--color-section-1-middle);
}

/* FOOTER */

.footer {
    bottom: 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 3rem;
    background-color: var(--color-footer);
    color: var(--color-font-footer);
    z-index: 10;
}

#footer-infos {
    position: absolute;
}

@media screen and (max-height: 400px) {
    .footer {
        display: none;
    }
}

.footer > .plateformes {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.footer-text {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
}

.footer-text > div {
    position: relative;
}

.plateformes-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
}

.plateformes-content > li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    gap: 5px;
    list-style: none;
}

.plateformes-content > li > a {
    text-decoration: none;
}

.plateformes-content > li > img {
    width: 30px;
    aspect-ratio: 1;

    vertical-align: middle;
    justify-content: center;
}

/* Waves */

.section-top {
    position: absolute;
    bottom: -10%;
    z-index: 5;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.section-top svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 110px;
    z-index: 5;
}

.section-bottom {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 5;
    rotate: 180deg;
}

.section-bottom svg {
    display: block;
    width: calc(111% + 1.3px);
    height: 110px;
}

/* header bottom color*/
.header-bottom-wave .shape-fill-1 {
    fill: var(--color-section-1);
}

/* section 2 top color*/
.section-2-wave .shape-fill-2 {
    fill: var(--color-section-1);
}

/* section 2 bottom color*/
.section-2-wave .shape-fill-3 {
    fill: var(--color-section-3);
}

/* section 4 top color*/
.shape-fill-3 {
    fill: var(--color-section-3);
}

/* section 4 bottom color*/
.section-4-wave .shape-fill-4 {
    fill: var(--color-footer);
}
