/* General */

:root {
    --color-green-dark: rgb(6, 70, 53);
    --color-green: rgb(81, 146, 89);
    --color-orange-light: rgb(240, 187, 98);
    --color-yellow-light: rgb(244, 238, 169);

    --color-white: #ffffff;
    --color-black: #000000;
    --color-orange-1: #f27500;
    --color-grey-dark: #42484d;
    --color-grey-light: #aaa;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);

    --color-background: rgb(81, 146, 89);
    --color-nav: #42484d;
    --color-nav-btn: #aaa;
    --color-nav-btn-active: #ffffff;
    --color-font: #000000;
    --color-font-footer: #aaa;
    --color-footer: #42484d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--color-font);
    line-height: 1.9;
    background-color: var(--color-background);
}

.hidden {
    display: none;
    opacity: 0;
}

.appear {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100px);
    transition: all 1s;
}

a {
    color: var(--color-font);
}

/* Navigation */

nav {
    display: flex;
    background-color: var(--color-nav);
    padding: 1rem;
    border-bottom: 0.1rem solid black;
}

.logo {
    display: flex;
    float: left;
    justify-content: left;
    width: 15rem;
    height: 9rem;
}

.nav-links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    list-style: none;
    white-space: nowrap;
}

.nav-item {
    border: 0.2rem outset rgb(139, 139, 139);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-nav-btn);
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-item:hover,
.nav-item:active {
    background-color: var(--color-nav-btn-active);
    border-style: inset;
}

/* Header welcome message */

.container {
    background-image: url('../img/panoramique-grenoble.jpg');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-block {
    position: relative;
    top: 50%;
    left: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    max-height: 60%;
    min-height: 40%;
    overflow: hidden;
}

.welcome-message {
    color: var(--color-white);
    font-size: 4em;
    line-height: 2;
}

.welcome-description {
    color: var(--color-white);
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.6em;
    line-height: 1.5;
}

/* Sections (general) */

.section {
    padding: 20rem 3rem;
    transition: transform 1s, opacity 1s;
    position: relative;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

h2 {
    font-size: 4em;
}

.img-section {
    width: 40%;
    height: 100%;
    float: left;
}

/* Section 1 */

#section1 {
    box-shadow: 0px 0px 50px 50px var(--color-background);
}

#questionnement {
    border-radius: 10%;
}

.contenu {
    display: flex;
    font-size: 1.6em;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    gap: 3rem;
    max-height: 50rem;
}

.section-description {
    display: flex;
    flex-direction: column;
    float: left;
}

/* Section 2 */

#section2 {
    background-color: var(--color-green-dark);
}

.imgs-preview {
    display: grid;
    max-width: 70%;
}

.img-line-preview {
    display: inline-flex;
}

.img-preview-menu {
    max-width: 40%;
    border-radius: 10%;
    padding: 1% 1% 1% 1%;
}

/* Section 3 */

#earth-svg {
    z-index: 3;
    pointer-events: none;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
}

#earth-div {
    height: 50rem;
    width: 50rem;
}

/* FOOTER */

.footer {
    padding: 10rem 3rem;
    background-color: var(--color-footer);
    color: var(--color-font-footer);
}

.footer-text {
    font-size: 1.5rem;
}

/* Waves */

.section-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.section-top svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 110px;
}

.section-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.section-bottom svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 110px;
}

.section-2-wave .shape-fill-2 {
    fill: var(--color-green-dark);
}

.section-3-wave .shape-fill-3 {
    fill: var(--color-footer);
}
