/* General */

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-orange-1: #f27500;
    --color-grey-dark: #42484d;
    --color-grey-light: #aaa;
    --color-background: rgb(181, 212, 241);
    --color-footer: #37383d;
    --color-nav: rgb(145, 171, 196);
    --color-font: #000000;
    --color-font-footer: #aaa;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--color-font);
    line-height: 1.9;
    background-color: var(--color-background);
}

.hidden {
    display: none;
    opacity: 0;
}

.appear {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100px);
    transition: all 1s;
}

a {
    color: var(--color-font);
}

/* Navigation */

nav {
    display: flex;
    background-color: var(--color-background);
    padding: 1rem;
    border-bottom: 0.1rem solid black;
}

.logo {
    display: flex;
    float: left;
    justify-content: left;
    width: 15rem;
    height: 9rem;
}

.nav-links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    list-style: none;
    gap: 5rem;
}

.nav-item {
    border: 0.2rem outset rgb(139, 139, 139);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-nav);
    font-size: 1.5rem;
}

.nav-item--btn:hover,
.nav-item--btn:active {
    color: var(--color-nav);
    background-color: var(--color-background);
    border-style: inset;
}

/* Header welcome message */

.container {
    background-image: url('../img/panoramique-grenoble.jpg');
    /* box-shadow: 0px -20px 30px 8px var(--color-background) inset; */
    height: 600px;
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-block {
    position: relative;
    top: 50%;
    left: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}

.welcome-message {
    color: var(--color-white);
    font-size: 4em;
    line-height: 2;
}

.welcome-description {
    color: var(--color-white);
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.6em;
    line-height: 1.5;
}

/* Sections (general) */

.section {
    padding: 20rem 3rem;
    border-bottom: 1px dotted #666666;
    transition: transform 1s, opacity 1s;
    position: relative;
}

.section::before {
    /* content: '';
    z-index: -1;
    position: absolute;
    left: -50%;
    top: 30%;
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50rem;
    transform: rotateY(5deg);
    */
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

h2 {
    font-size: 4em;
}

.img-section {
    width: 40%;
    height: 100%;
    float: left;
}

/* Section 1 */

#section1 {
    box-shadow: 0px 0px 50px 50px var(--color-background);
}

#questionnement {
    border-radius: 10%;
}

.contenu {
    display: flex;
    font-size: 1.6em;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    gap: 3rem;
}

.section-description {
    display: flex;
    flex-direction: column;
    float: left;
}

/* Section 2 */

.imgs-preview {
    display: grid;
    max-width: 70%;
}

.img-line-preview {
    display: inline-flex;
}

.img-preview-menu {
    max-width: 40%;
    border-radius: 10%;
    padding: 1% 1% 1% 1%;
}

/* Section 3 */

/* FOOTER */

.footer {
    padding: 10rem 3rem;
    background-color: var(--color-footer);
    color: var(--color-font-footer);
}

.footer-text {
    font-size: 1.5rem;
}
