/* FOOTER */

.footer {
    position: absolute;

    bottom: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 3rem;
    background-color: var(--color-footer);
    color: var(--color-font-footer);
    z-index: 15;
}

.body-home .footer {
    position: static;
}

#footer-infos {
    position: absolute;
}

.footer > .plateformes {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.footer-text {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
}

.footer-text > div {
    position: relative;
}

.plateformes-content {
    display: flex;
}

.plateformes-content > li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    gap: 5px;
    list-style: none;
}

.plateformes-content > li > a {
    text-decoration: none;
}

.plateformes-content > li > a:hover {
    color: var(--color-section-3-middle);
    text-decoration: underline;
}

.plateformes-content > li > img {
    width: 30px;
    aspect-ratio: 1;

    vertical-align: middle;
    justify-content: center;

    cursor: pointer;
}

/* Media */

@media screen and (max-width: 850px) {
    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 390px) {
    .footer-text {
        margin-bottom: 1rem;
    }

    .plateformes {
        flex-direction: column;
    }
}

@media screen and (max-width: 300px) {
    .plateformes-content {
        flex-direction: column;
    }
}
